.user-circle-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-size: small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90px;
        color: var(--primary-text-color);
    }
}
